{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container" id="task-list-container">
        <h1>List of tasks</h1>
        <div class="row">
            <a class="btn btn-success pull-right" href="/task/create">Create task</a>
            {% if paginator.totalResultCount %}
                <table class="table table-bordered" style="margin-top: 40px">
                    <thead>
                    <tr>
                        {% for header, link in headers %}
                            <th>
                                {% if link %}
                                    <a href="{{ link }}">{{ header }}</a>
                                {% else %}
                                    {{ header }}
                                {% endif %}
                            </th>
                        {% endfor %}
                        {% if auth_manager.loggedIn %}
                            <th>Actions</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in paginator %}
                        <tr>
                            <td>{{ task.username }}</td>
                            <td>{{ task.email }}</td>
                            <td>{{ task.status }}</td>
                            <td>
                                {% if auth_manager.loggedIn %}
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-default" href="/task/edit/{{ task.id }}">Edit task</a>
                                        {% if not task.status %}
                                            <div
                                                    class="btn btn-default"
                                                    data-bind="visible: visible, click: mark.bind($root,'{{ task.id }}')"
                                            >Mark as done
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ paginatorPages|raw }}
            {% else %}
                <h3 style="margin-top: 40px">Tasks not found</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="/js/index.js"></script>
{% endblock %}