{% extends 'layout.html.twig' %}

{% macro link(field) %}
    {{ field }}
{% endmacro %}

{% block content %}
    {% macro foo() %}
        11
    {% endmacro %}
    <div class="container">
        <h1>List of tasks</h1>
        <div class="row">
            <table class="table table-bordered">
                <thead>
                <tr>
                    {% for header, link in headers %}
                        <th>
                            {% if link %}
                                <a href="{{ link }}">{{ header }}</a>
                            {% else %}
                                {{ header }}
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for task in paginator %}
                    <tr>
                        <td>{{ task.username }}</td>
                        <td>{{ task.email }}</td>
                        <td>{{ task.status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ paginatorPages|raw }}
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="/js/index.js"></script>
{% endblock %}