{% extends 'layout.html.twig' %}

{% block content %}
    <script type="text/javascript">
        window.taskItemsData = [];
    </script>
    <div class="container" id="task-list-container">
        <h1>List of tasks</h1>
        <div class="row">
            <a class="btn btn-success pull-right" href="/task/create">Create task</a>
            {% if paginator.totalResultCount %}
                <table class="table table-bordered" style="margin-top: 40px">
                    <thead>
                    <tr>
                        {% for header, link in headers %}
                            <th>
                                {% if link %}
                                    <a href="{{ link }}">{{ header }}</a>
                                {% else %}
                                    {{ header }}
                                {% endif %}
                            </th>
                        {% endfor %}
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in paginator %}
                        <tr id="task-{{ task.id }}">
                            <td>{{ task.username }}</td>
                            <td>{{ task.email }}</td>
                            <td>
                                <i data-bind="visible: checked()" style="display: none; font-size: 20px;color: green"
                                   class="fa fa-check-square-o fa-5"></i>

                                <i data-bind="click: doneTask, visible: !checked()"
                                   style="cursor: pointer; display: none; font-size: 20px;"
                                   class="fa fa-square-o fa-5"></i>
                            </td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a class="btn btn-default" href="/task/edit/{{ task.id }}">Edit task</a>
                                </div>
                            </td>
                        </tr>

                        <script type="text/javascript">
                            window.taskItemsData.push({
                                id: "{{ task.id }}",
                                status: {{ task.status }},
                                loggedIn: Boolean("{{ auth_manager.loggedIn }}"),
                                selector: "#task-{{ task.id }}"
                            });
                        </script>
                    {% endfor %}
                    </tbody>
                </table>
                {{ paginatorPages|raw }}
            {% else %}
                <h3 style="margin-top: 40px">Tasks not found</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="/js/index.js"></script>
{% endblock %}