{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1>Edit task</h1>
        {% if errorMessage %}
            <div class="alert alert-danger" role="alert">{{ errorMessage }}</div>
        {% endif %}

        {% if successMessage %}
            <div class="alert alert-success" role="alert">{{ successMessage }}</div>
        {% endif %}

        <form action="/task/save/{{ task.id }}" method="post">
            {% include 'task/form.html.twig' %}
            <button class="btn-success btn" type="submit">Save</button>
        </form>

        {% if task.image %}
            <hr>
            <h2>Uploaded file</h2>
            <img src="/{{ task.image }}" alt="">
        {% endif %}
    </div>
{% endblock %}
{% block js %}
    <script>
        window.taskData = {{ task|json_encode|raw }};
    </script>
    {{ parent() }}
    <script type="text/javascript" src="/vendor/knockout-file-bindings/knockout-file-bindings.js"></script>
    <script type="text/javascript" src="/js/task-form.js"></script>
{% endblock %}